@media screen and (max-width:400px) {
    .nav-containa{
        flex-direction: column;

    }
    .nav-item-containar{
        flex-direction: column;
        gap: 20px;
    }
    .logo-containar{
        justify-content: center;
    }
    .banner-containar{
        flex-direction: column;
    }
    .banner-tex , .banner-img{
        align-items: center;
        justify-content: center;

        
    }
  
}