@media screen and (max-width:576px) {
    .nav-containa{
        flex-direction: column;

    }
    .nav-item-containar{
        flex-direction: column;
        gap: 20px;
    }
    .logo-containar{
        justify-content: center;
    }
    .banner-containar{
        flex-direction: column;
    }
    .banner-tex , .banner-img{
        align-items: center;
        justify-content: center;
        
    }
    .gamer-containar{
        flex-direction: column;
    }
    .Online-Games-containar{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .Play-title{

        width: 100%;
    }
    .Play-img-containar{
        width: 100%;
    
    }
    .Play-containar{
    flex-direction: column;
    }
  
}