@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@400;700;800&family=Satisfy&family=Work+Sans:wght@500&display=swap');

body{
    width: 100%;
}
nav{
    background-color:#FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
}
.nav-containa{
    min-height: 50px;
    display: flex;
    align-items: center;
    padding: 20px;
}
.logo-containar p{
    font-size: 45px;
    font-weight: 700;
}
.logo-containar{
    padding: 20px;
    display: flex; 
    align-items: center;  
    gap: 10px;
    width: 50%;
}

.logo-containar img{
    width: 150px;
    height: 90px;
}
.nav-item-containar{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-item-containar a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}
.Gamer{
    color: #FF42A5;
}
.Follow-us{
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    font-family: Work Sans;
    background: rgba(11, 2, 35, 0.10);
}
/* nav design end here */
.banner-containar{
    margin: 50px auto 0;
    width: 1400px;
    height: 600px;
    display:flex ;  
}
.banner-tex{
    padding-left: 100px;
    width: 50%;
    flex-shrink: 0;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);

}
.banner-img{
    width: 50%;

}
.banner-img img{
    width: 100%;
    height: 100%;
}
.banner-tex h3{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}
.banner-tex h1{
    margin-top: 2px;
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.icon-containarn-1{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px; 
    font-weight: 500;   
}
.icon-containar-1 span{
    padding: 15px;
}
.btn-1{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

    border-radius: 48px;
    padding: 21px 40px;

    color: white;

}
.btn-2{
    background: #4EC5F7;
    border-radius: 48px;
    padding: 21px 40px;
    margin-top: 20px;
    color: white;
}
/* bannar sestion ends */


/* gamer section strat */
.gamer-containar{
    width: 1400px;
    min-width: 400;
    margin: 50px auto 0;
    display: flex;

}
.gamer-img{
    width: 60%;

}
.gamer-img img{
    width: 868px;
    height: 489px;
    flex-shrink: 0;

}
.gamer-tex{
    width: 50%;
    text-align: center

}
.gamer-tex h2{
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-tex p{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.gamer-tex h6{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    margin-bottom: 0;
}
.gamer-tex h5{
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    margin-top:0 ;
}
/* oneline games section start */

.Online-Games-containar{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    max-width: 1400px;
    margin: 50px auto 0;
   min-width: 400;

    gap: 10px;
}
.oneline-title{
   text-align: center;
   font-size: 48px;
   color: #0B0223;
   font-family:Work Sans;
   font-weight: 700;
}
.funny-videos{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}
.h5{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.game-1{
    width:100%;
}
.game-1 p{
    width: 342px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}
.Online-Games-containar img{
    width: 342px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/* oneline games section ends */

/*  Play Instantly strat */
.Play-containar{
    width: 1400px;
    height: 800px;
    margin: 50px auto 0;
    display: flex;
}
.Play-title{
    justify-content: center;
    text-align: right;
    padding-top: 100px;
    margin-right: 100px;
    width: 50%;



}
.Play-img-containar{
    width: 50%;

}
.Play-img-containar img{
    border-radius: 8px;

}
.Play-img-containar h1{
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #0B0223;
}
.Play-containar p{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.Play-Instantly{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.Rectangle{
    border-radius: 8px;
    width: 318.5px;
    height: 365.083px;
    text-align: center;
    position: relative;
    bottom: 280px;
    right: 150px;
    color:  #FFF;;
}
/*  Play Instantly ends */

/* icon-containar start */
.icon-containar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-containar img {
    gap: 50px;


}
.icon-containar-2{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* icon-containar end */


/* footer section start */

.ff{
    background-color:#0B0223;;
}
.footer section{
    width: 1400px;
    height: 636px;
    flex-shrink: 0;


}
.footer{
    display: flex;
    gap: 15px;
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}
.our-service{
  
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
   
   
 
}
.our-service a{
     text-decoration: none;
     gap: 50px;
     color: #FFF;
     justify-content: space-between;

}
.amer{
    color: #FFF;

}
.facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    gap: 50px;
    margin: 30px;
}
.Policy{
    display: flex;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    gap: 30px;
    padding: 20px;

}
